<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.UserDao">
    <select id="getAllUsers" resultType="User">
        select * from mybatis.user;
    </select>

    <insert id="addUser" parameterType="User">
        insert into mybatis.user (id, name, pwd) VALUES (#{id}, #{name}, #{pwd});
    </insert>
<!--    有错误的sql语句-->
    <delete id="deleteUserByIdErr" parameterType="_int">
        delete 11 from mybatis.user where id = #{userId}
    </delete>

    <delete id="deleteUserById" parameterType="_int">
        delete from mybatis.user where id = #{userId}
    </delete>
    <update id="updateUser" parameterType="User">
        update mybatis.user
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="pwd != null">
                pwd = #{pwd}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>
</mapper>