<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:annotation-config/>-->
    <context:component-scan base-package="com.kuang"/>
    <!--
    annotation-config：注册了常用的BeanPostProcessor，
        而这些BeanPostProcessor 就是让常用注解（@AutoWired、@Configuration）生效。
    component-scan： 做了< context:annotation-config/>所有做的事，除此之外，还扫描注册base-package下的类。
    -->



</beans>